@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

body {
	font-family:
		"Pretendard Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Noto Sans", sans-serif;
}

button,
input,
textarea,
select {
	font-family: inherit;
}
